<table>
  <tr>
    <th>Deme ID</th>
    <th>Gene</th>
    <th>Log Loss</th>
  </tr>
  <% @programs.each do |p| %>
    <tr>
      <td><%= p.deme_id %></td>
      <td><%= p.gene%></td>
      <td><%= '%.4f' % (p.log_loss.to_f rescue 0) %></td>
    </tr>
  <% end %>
</table>
