<table class="ui sortable striped celled table">
  <thead>
    <tr>
      <th>Deme ID</th>
      <th>Gene</th>
      <th>Log Loss</th>
      <th>Resource Bonus</th>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |p| %>
      <tr>
        <td><%= p.deme_id %></td>
        <td><%= (p.gene || "")[0...100] %></td>
        <td><%= '%.4f' % (p.log_loss.to_f rescue 0) %></td>
        <td><%= '%.4f' % (p.resource_bonus.to_f rescue 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
