<!DOCTYPE html>
<html>
  <head>
    <title>Numerai</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui segment">
      <%= yield %>
      <div class="ui right attached rail">
        <div class="ui segment">
          <a href="/dashboard">Dashboard</a>
        </div>
      </div>
    </div>
  </body>
</html>
