<!DOCTYPE html>
<html>
  <head>
    <title>Numerai</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pusher">
      <div class="ui segment">
        <%= yield %>
      </div>
      <div class="ui black inverted verticial footer segment">
        <a href="/dashboard">Dashboard</a>
      </div>
      <div class="ui black inverted verticial footer segment">
        <a href="/export_files">Files</a>
      </div>
      <div class="ui black inverted verticial footer segment">
        <a href="/resque">Resque</a>
      </div>


    </div>

  </body>
</html>
